<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Index</title>
</head>
<body>
<div style="text-align: center;">
<h1>Job Statistics by Location</h1>

<form action="/app/vendors" method="post">
    <label for="locationName">City Name :</label> <br/>
    <input type="text" name="locationName" required/> <br/>

    <label for="LocationState">State :</label> <br/>
    <input type="text" name="locationState" required maxlength="2"/> <br/>

    <label for="serviceCategory">Service Category :</label> <br/>
    <select name="serviceCategory" required>
        <option value="AIR_CONDITIONING">AIR_CONDITIONING</option>
        <option value="LANDSCAPING_MAINTENANCE">LANDSCAPING_MAINTENANCE</option>
    </select>
    <br/>
    <button type="submit">Submit</button>
</form>
<br/>
</div>
</body>
</html>
